.main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing:border-box;
  background-color:white;
  color:blue;
  border-radius: 12px;
}
.card {
  margin: 0 auto;
}
h1{
    text-align:center;
}
img{
    border-radius:12px;
}